body {
	background-color: #EEEEEE;
}

.box {
	background-color: #E53935;
	width: 64px;
	height: 64px;
	display: inline-block;
	position: relative;
	float: left;
	margin: 0 auto;
}

.box1 {
	background-color: #E53935;
	display: inline-block;
	position: relative;
	float: left;
	margin: 0 auto;
}

p {
	line-height: 0;
}

#container {
	width: 512px;
	height: 512px;
	border: 3px solid red;
	margin: 0 auto;
}

#buttons {
	width: 518px;
	height: 50px;
	margin: 0 auto;
	margin-top: 100px;
}

button {
	width: 100px;
	height: 40px;
	background-color: #00695C;
	border: 1px solid #f2f2f2;
	color: #E1F5FE;
	font-size: 15px;
	font-family: arial,sans-serif;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	margin-left: 55px;
	position: relative;
}

#b_reset {
	margin: auto;
	margin-top: 10px;
	display: block;
}